<div id="biography">
  <div id="me" class="center-block"></div>
  <p>Hello, I'm Andrew Winder. I work at <a href="http://www.messagesystems.com">Message Systems</a> as a Senior Software Engineer, and I blog here about AngularJS, Node.js, and other technical topics.  All opinions are my own.</p>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 mol-lg-4">
      <a href="https://twitter.com/awinder"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 mol-lg-4">
      <a href="https://www.github.com/awinder"><i class="fa fa-github"></i></a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 mol-lg-4">
      <a href="https://www.linkedin.com/in/ajwinder"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
