<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="{{ page.body_class }}">
    <div class="jumbotron" id="header">
      {% include page_header.html %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9 col-md-push-3 col-lg-push-3">
          {{ content }}
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-md-pull-9 col-lg-pull-9">
          {% include bio.html %}
        </div>
      </div>
    </div>
    <div class="jumbotron footer">
      <div class="container">
        <div class="row">
          <footer class="col-sm-12 col-md-12 col-lg-12">
            <p>&copy; Andrew Winder, 2013-{{ site.time | date: '%Y' }}.  All rights reserved.</p>
          </footer>
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
